body{padding-top:60px;}
input,textarea,button{font:15px'Monaco','Bitstream Vera Sans','Courier',monospace;}
input{width:100%;}
#instructions{margin-top:2em;}
#input-field{margin-top:10px;margin-bottom:10px;width:100%;height:340px;}
#input-url{padding:5px;width:99%;}