body {
  margin: 0px;
  padding: 0px;
  font: 1.6em 'Georgia', 'Tahoma', serif;
  color: #333;
}

#content {
  width: 940px;
  margin: 0 auto;
}

input, textarea, button {
  font: 15px 'Monaco', 'Bitstream Vera Sans', 'Courier', monospace;
}

textarea{
  padding: 10px;
  width: 100%;
  height: 400px;
}
